---
---

<form id="search-form" action="/blog-1/search" class="flex gap-4 text-sm">
    <div>
        <label>Search</label>
        <input type="text" id="query" name="query" placeholder="search articles..." />
    </div>
    <div>
        <button class="border px-1 py-2">
            Search
        </button>
    </div>
</form>
