---
import { Image } from "astro:assets"
import logo from "@/assets/traversy/logo.png"
---

<nav>
    <div>
        <a>
            <Image src={logo} alt="tech blog logo" height={55} width={55} />
            <span>
                <span>Tech</span>
                Blog
            </span>
        </a>
    </div>
    <p>
        ---
    </p>
</nav>
