---
import { getCollection } from "astro:content"
import Blog_1 from "@/layouts/Blog_1.astro"
import Heading from "@/components/blog_1/heading.astro"
import ArticleCard from "@/components/blog_1/article_card.astro"
import ArticleSearch from "@/components/blog_1/article_search.astro"

let allArticles = (await getCollection("traversy"))
    .sort((a, b) => b.data.published.valueOf() - a.data.published.valueOf())
let recentArticle = allArticles[0]
let otherArticle = allArticles.slice(1)

// Astro.response.headers.set('Access-Control-Allow-Origin', '*')
// Astro.response.headers.set('Access-Control-Allow-Headers', 'Content-Type')
// Astro.response.headers.set('Access-Control-Allow-Methods', 'GET, OPTIONS')
---

<Blog_1>
    <div>
        <Heading recentArticle={recentArticle} />
    </div>
    <div>
        <ArticleSearch />
    </div>
    <!-- slug image published tags -->
    <div class="grid gap-4 grid-cols-1 md:grid-cols-3">
    {
        otherArticle.map((article) => (
            <ArticleCard article={article} />
        ))
    }
    </div>
</Blog_1>
