---
import Dashboard_1 from "@/layouts/Dashboard_1.astro"
import OverviewChart from "@/components/dashboard_1/overview_chart.astro"
import OverviewTransactions from "@/components/dashboard_1/overview_transactions.astro"
---

<Dashboard_1>
    <div class="p-2">
        <OverviewChart />
    </div>
    <div class="p-2">
        <OverviewTransactions />
    </div>
</Dashboard_1>
