---
import FileDrive_1 from "@/layouts/FileDrive_1.astro"
import FileCard from "@/components/filedrive_1/file_card.astro"
import FileHead from "@/components/filedrive_1/file_head.astro"
---

<FileDrive_1>
    <div class="p-2">
        <div>
            <FileHead />
        </div>
        <div class="grid grid-cols-3 gap-4">
        {
            Array(10).fill(1).map((_, idx) => (
                <FileCard key={idx} id={`filedrive-1-${idx}`} />
            ))
        }
        </div>
    </div>
</FileDrive_1>
