---
import Main from "@/layouts/Main.astro"
---

<Main>
    <h1 class="p-4 font-semibold">Astro Page Samples</h1>
    <div class="px-4 py-2">
        <a href="/dashboard-1">Dashboard 1</a>
    </div>
</Main>
