---
import Main from "@/layouts/Main.astro"

let dev = Astro.locals.dev;
console.log(dev)
if (dev) {
    let rdev = await dev.prepare("SELECT * FROM xdumps LIMIT 5").all()
    console.log(rdev)
}
console.log("===")
let devd1 = Astro.locals.runtime.env.devd1;
console.log(devd1)
if (devd1) {
    let rdevd1 = await devd1.prepare("SELECT * FROM xdumps LIMIT 5").all()
    console.log(rdevd1)
    console.log("===")
}
---

<Main>
    <h1 class="p-4 font-semibold">
        Astro Page Samples
    </h1>
    
    <div class="flex flex-col px-4 py-2">
        <a href="/auth-1" class="hover:underline underline-offset-2">
            Auth-1
        </a>
        <a href="/dashboard-1" class="hover:underline underline-offset-2">
            Dashboard-1
        </a>
        <a href="/filedrive-1" class="hover:underline underline-offset-2">
            FileDrive-1
        </a>
    </div>
</Main>
