---
import AuthSignin from "./auth_signin.astro"
import AuthSignup from "./auth_signup.astro"
---

<div class="border w-96">
    <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="auth-tab" data-tabs-toggle="#auth-tab-content" role="tablist">
            <li class="me-2 flex-1" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg" data-tabs-target="#sign-in-tab" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    Sign In
                </button>
            </li>
            <li class="me-2 flex-1" role="presentation">
                <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#sign-up-tab" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
                    Sign Up
                </button>
            </li>
        </ul>
    </div>
    <div id="auth-tab-content">
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="sign-in-tab" role="tabpanel" aria-labelledby="sign-in-tab">
            <AuthSignin />
        </div>
        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="sign-up-tab" role="tabpanel" aria-labelledby="sign-up-tab">
            <AuthSignup />
        </div>
    </div>
</div>





