---
---

<aside id="filedrive1-sidebar"
    aria-label="Side Navigation"
    class="min-h-full p-2 w-40 z-40 border-r -translate-x-full sm:translate-x-0 transition-transform"
>
    <ul>
        <li class="px-1 py-2 hover:bg-gray-100">
            <a class="flex items-center gap-2 dark:hover:text-white cursor-pointer">
                <span class="icon-[bx--file] w-5 h-5 text-gray-500"></span>
                <span>Files</span>
            </a>
        </li>
    </ul>
</aside>
