---
import "../styles.css"
import Base from "./Base.astro"
import Navbar from "@/components/blog_1/navbar.astro"
import Footer from "@/components/blog_1/footer.astro"
import { TRAVERSY_SITE_DESCRIPTION } from "@/lib/constants.ts"
---

<Base metaSiteDescription={TRAVERSY_SITE_DESCRIPTION} metaPageTitle="Articles, Stories, Tutorials">
	<Navbar />
	<section class="p-2 md:p-4">
		<slot />
	</section>
	<Footer />
</Base>
