---
import Main from "./Main.astro"
import Sidebar from "@/components/dashboard_1/sidebar.astro"
---

<Main>
    <div class="py-4">
        <nav>
            <Sidebar />
        </nav>
        <section class="ml-4 sm:ml-44">
            <slot />
        </section>
    </div>
</Main>
