---
import Base from "./Base.astro";
---

<script>
import { initFlowbite } from "flowbite"
    
window.onload = function() {
    initFlowbite()
}
</script>

<Base>
    <main class="w-full">
        <slot />
    </main>
</Base>
